[submodule "plugins/yams-ghidra-plugin"]
	path = plugins/yams-ghidra-plugin
	url = git@github.com:trvon/yams-ghidra-plugin.git
[submodule "homebrew-yams"]
  path = homebrew-yams
  url = https://github.com/trvon/homebrew-yams.git
[submodule "yams-sdk"]
  path = external/yams-sdk
  url = git@git.sr.ht:~trvon/yams-sdk
